@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    padding: 0px;
    margin: 0px;
    overflow-x: auto;
  
}

.whole{
    overflow-x: hidden;
}
/* pictures */
.large-pic{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/school-1.jpg) bottom/cover no-repeat;
    height: 90vh;
    width: 100%;
}

.large-pic-2 {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/img/class-1.jpg) center/cover no-repeat;
    height: 70vh;
    width: 100%;
}


/* Nav */
.nav-1{
    background: #ffffff !important;
}

.brand-1{
font-family: 'Roboto',
sans-serif !important;
    margin-left: 100px; 
}

.a-1{
    border: 2px solid #FC5959 !important;
    background: #FC5959;
    border-radius: 20px;
    padding: 5px 10px 5px 16px;
    font-size: 20px;
    font-family: 'Roboto',
    sans-serif !important;
      margin-right: 100px;
      transition: all 1s ease-in;
}

.a-1:hover{
    background: #4FDBFC;
    color: white;
    border: 2px solid #4FDBFC !important;
}

/* Heading */
.text-box{
    color: white;
    
}

.text-box .head-1{
    font-size: 50px;
    font-family: 'Roboto',
    sans-serif;
     position: relative;
     top: 200px;
     margin: 0px 0px 30px 100px;
}

.text-box .p-1 {
    position: relative;
    top: 200px;
      margin: 0px 0px 0px 100px;
}

/* Middle section*/
.text-top{
    color: #FC5959;
    font-family: 'Roboto',
    sans-serif;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.icon-1{
    color: #FC5959;
    margin: 0px 0px 20px 190px;
}

.text-middle{
    margin: 0px 0px 20px 30px;
    font-family: 'Roboto',
    sans-serif;
    font-size: 30px;
}

.p-1{
      margin: 0px 0px 20px 30px;
      font-family: 'Roboto',
      sans-serif;
      font-size: 20px;
}

.icon-2 {
    color: #FC5959;
    margin: 0px 0px 20px 190px;
}

.text-middle-2 {
    margin: 0px 0px 20px 50px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 30px;
}

.p-2 {
    margin: 0px 0px 20px 40px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 20px;
}

.icon-3 {
    color: #FC5959;
    margin: 0px 0px 30px 190px;
}

.text-middle-3 {
    margin: 0px 0px 30px 30px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 30px;
}

.p-3 {
    margin: 0px 0px 20px 10px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 20px;
}


/* borders area */
.border-1{
    border: 2px solid white;
    width: 380px;
    height: 400px;
    background: white !important;
    text-align: center;
    padding: 30px;
    margin: 0px 0px 20px 40px !important;
}

.border-2 {
    border: 2px solid white;
    width: 380px;
    height: 400px;
    background: white !important;
    text-align: center;
    padding: 30px;
     margin: 0px 0px 20px 40px !important;
}

.border-3 {
    border: 2px solid white;
    width: 380px;
    height: 400px;
    background: white !important;
    text-align: center;
    padding: 30px;
     margin: 0px 0px 20px 40px !important;
}

.middle-top{
    margin: 0px 0px 30px 0px;
    text-align: center;
    color: #FC5959;
      font-family: 'Roboto',
      sans-serif;

}

.middle-icon{
    color: #FC5959;
    margin: 0px 20px 30px 0px;
}

.middle-text{
      font-family: 'Roboto',
      sans-serif;
      margin: 0px 0px 20px 0px; 
}

.middle-p-1{
     font-family: 'Roboto',
     sans-serif;
     font-weight: 300;
}

.middle-icon-2 {
    color: #FC5959;
    margin: 0px 20px 30px 0px;
}

.middle-text-2 {
    font-family: 'Roboto',
        sans-serif;
    margin: 0px 20px 20px 0px;
}

.middle-p-2 {
    font-family: 'Roboto',
        sans-serif;
    font-weight: 300;
}

.middle-icon-3 {
    color: #FC5959;
    margin: 0px 20px 30px 0px;
}

.middle-text-3 {
    font-family: 'Roboto',
        sans-serif;
    margin: 0px 0px 20px 0px;
}

.middle-p-3 {
    font-family: 'Roboto',
        sans-serif;
    font-weight: 300;
}

/* end text section */

.end-icon{
    color: white;
    margin: 60px 0px 30px 730px !important;
}

.s-1{
    margin-left: 30px;
}

.end-text1{
    font-size: 30px !important;
    color: white;
    margin: 0px 0px 0px 400px;
     font-family: 'Roboto',
     sans-serif;
}

.hr-1{
    background: white;
    width: 300px; 
}

.end-text2{
    color: white;
    margin: 40px 0px 0px 580px;
}

/* double section*/

.text-head{
    margin: 30px 0px 30px 0px;
     font-family: 'Roboto',
     sans-serif;
    color: #FC5959;
    text-align: center;
}

.text-1v{
    margin: 0px 0px 10px 0px;
    color: #FC5959;
    text-align: center;
     font-family: 'Roboto',
     sans-serif;
}

.text-2v{
    text-align: center;
     font-family: 'Roboto',
     sans-serif;
}

.p-1v{
    text-align: center;
     font-family: 'Roboto',
     sans-serif;
     margin: 0px 0px 20px 0px;
}

.p-2v{
     text-align: center;
     font-family: 'Roboto',
     sans-serif;
     margin: 0px 0px 30px 0px;
}

/* Title */

.title h1{
    text-align: center;
    color: white;
    background: #4FDBFC;
    height: 400px;
    margin: 0px 0px 100px 0px;
}

.title-1{
    position: relative;
    top: 40px;
    margin: 0px 0px 100px 0px;
}

.title span {
     font-family: 'Roboto',
     sans-serif;
     font-size: 60px;
    position: relative;
    top: 100px;
    left: 130px;
    margin: 0px 0px 100px 0px;
}

.title .button-1 {
    font-family: 'Roboto',
        sans-serif;
    font-size: 50px;
    position: relative;
    top: 200px;
    margin: 0px 0px 100px 0px;
    right: 580px;
    border: 3px solid #FC5959;
    color: white;
    background: #FC5959;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.title .button-1:hover{
     border: 3px solid white;
    background: white;
    color: #FC5959;
}

/* footer */

footer h1{
    text-align: center;
      font-family: 'Roboto',
      sans-serif;
      font-size: 30px;
}

/*********************** Media ***********************/

@media (max-width: 1400px){
    .large-pic {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(/img/school-1.jpg) bottom/cover no-repeat;
        height: 70vh;
        width: 100%;
    }
}

/* Desktop */
@media (min-width: 1024px ){

    .large-pic {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(/img/school-1.jpg) bottom/cover no-repeat;
        height: 70vh;
        width: 100%;
    }

    .large-pic-2 {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/class-1.jpg) center/cover no-repeat;
        height: 70vh;
        width: 100%;
    }


    /* Nav */
    .nav-1 {
        background: #ffffff !important;
    }

    .brand-1 {
        font-size: 30px;
        font-family: 'Roboto',
            sans-serif !important;
        margin-top: 20px;
        margin-left: 125px;
        margin-bottom: 20px;
    }

    .a-1 {
        border: 2px solid #FC5959 !important;
        background: #FC5959;
        border-radius: 20px;
        padding: 5px 10px 5px 16px;
        font-size: 30px;
        font-family: 'Roboto',
            sans-serif !important;
        margin-left: 120px;
        transition: all 1s ease-in;
    }

    .a-1:hover {
        background: #4FDBFC;
        color: white;
        border: 2px solid #4FDBFC !important;
    }

    /* Heading */
    .text-box {
        color: white;

    }

    .text-box .head-1 {
        font-size: 60px;
        font-family: 'Roboto',
            sans-serif;
        position: relative;
        top: 90px;
        margin: 0px 0px 30px 30px;
    }

    .text-box .p-1 {
        font-size: 23px;
        position: relative;
        top: 100px;
        margin: 0px 0px 0px 30px;
    }

    /* Middle section*/
    .text-top {
        font-size: 50px;
        color: #FC5959;
        font-family: 'Roboto',
            sans-serif;
        text-align: center;
        margin: 40px 0px 40px 0px;
    }

    .icon-1 {
        color: #FC5959;
        margin: 0px 0px 20px 200px;
    }

    .text-middle {
        margin: 0px 0px 40px 30px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 30px;
        font-style: bold;
        color: black;
    }

    .p-1 {
        margin: 0px 0px 20px 25px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
    }

    .icon-2 {
        color: #FC5959;
        margin: 0px 0px 20px 200px;
    }

    .text-middle-2 {
        margin: 0px 0px 20px 30px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 30px;
    }

    .p-2 {
        margin: 0px 0px 40px 20px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
    }

    .icon-3 {
        color: #FC5959;
        margin: 0px 0px 20px 200px;
    }

    .text-middle-3 {
        margin: 0px 0px 20px 30px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 30px;
    }

    .p-3 {
        margin: 0px 0px 20px 10px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
    }


    /* borders area */
    .border-1 {
        border: 2px solid white;
        width: 400px;
        height: 550px;
        background: white !important;
        text-align: center;
        padding: 30px;
        margin: 0px 70px 40px 20px !important;
    }

    .border-2 {
        border: 2px solid white;
        width: 400px;
        height: 550px;
        background: white !important;
        text-align: center;
        padding: 30px;
        margin: 0px 40px 20px 35px !important;
    }

    .border-3 {
        border: 2px solid white;
        width: 400px;
        height: 550px;
        background: white !important;
        text-align: center;
        padding: 30px;
        margin: 0px 40px 20px 50px !important;
    }

    .middle-top {
        margin: 0px 0px 30px 0px;
        text-align: center;
        color: #FC5959;
        font-family: 'Roboto',
            sans-serif;

    }

    .middle-icon {
        color: #FC5959;
        margin: 0px 40px 30px 30px;
    }

    .middle-text {
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 0px 20px 0px;
    }

    .middle-p-1 {

        font-family: 'Roboto',
            sans-serif;
        font-weight: 300;
    }

    .middle-icon-2 {
        color: #FC5959;
        margin: 0px 20px 30px 0px;
    }

    .middle-text-2 {
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 20px 20px 0px;
    }

    .middle-p-2 {
        font-family: 'Roboto',
            sans-serif;
        font-weight: 300;
    }

    .middle-icon-3 {
        color: #FC5959;
        margin: 0px 20px 30px 0px;
    }

    .middle-text-3 {
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 0px 20px 0px;
    }

    .middle-p-3 {
        font-family: 'Roboto',
            sans-serif;
        font-weight: 300;
    }

    /* end text section */

    .end-icon {
        color: white;
        margin: 60px 0px 30px 700px !important;
    }

    .s-1 {
        margin-left: 20px;
    }

    .end-text1 {
        font-size: 31px !important;
        color: white;
        margin: 0px 0px 0px 390px;
        font-family: 'Roboto',
            sans-serif;
    }

    .hr-1 {
        background: white;
        width: 300px;
    }

    .end-text2 {
        font-size: 20px;
        color: white;
        margin: 40px 0px 0px 580px;
    }

    /* double section*/

    .text-head {
        margin: 30px 0px 30px 0px;
        font-family: 'Roboto',
            sans-serif;
        color: #FC5959;
        text-align: center;
    }

    .text-1v {
        margin: 0px 0px 10px 0px;
        color: #FC5959;
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
    }

    .text-2v {
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
    }

    .p-1v {
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 0px 40px 0px;
    }

    .p-2v {
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 0px 40px 0px;
    }

    /* Title */

    .title h1 {
        text-align: center;
        color: white;
        background: #4FDBFC;
        height: 400px;
        margin: 0px 0px 100px 0px;
    }

    .title-1 {
        position: relative;
        top: 40px;
        margin: 0px 0px 100px 0px;
    }

    .title span {
        font-family: 'Roboto',
            sans-serif;
        font-size: 35px;
        position: relative;
        top: 80px;
        left: 200px;
        margin: 20px 0px 100px 0px;
    }

    .title .s-1v {
        font-family: 'Roboto',
            sans-serif;
        font-size: 35px;
        position: relative;
        top: 50px;
        left: -320px;
        margin: 0px 0px 120px 0px;
    }


    .title .button-1 {
        font-family: 'Roboto',
            sans-serif;
        font-size: 29px;
        position: relative;
        top: 210px;
        margin: 10px 0px 0px 200px;
        left: -470px;
        right: 0px;
        border: 3px solid #FC5959;
        color: white;
        background: #FC5959;
        border-radius: 50px;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        transition: all 1s ease-in-out;
    }

    .title .button-1:hover {
        border: 3px solid white;
        background: white;
        color: #FC5959;
    }

    /* footer */

    footer h1 {
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
        font-size: 40px;
    }
}

/* Laptops */
@media (max-width: 1024px) {
 .large-pic {
     background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
         url(/img/school-1.jpg) bottom/cover no-repeat;
     height: 50vh;
     width: 100%;
 }

 .large-pic-2 {
     background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/class-1.jpg) center/cover no-repeat;
     height: 50vh;
     width: 100%;
 }


 /* Nav */
 .nav-1 {
     background: #ffffff !important;
 }

 .brand-1 {
     font-size: 30px;
     font-family: 'Roboto',
         sans-serif !important;
     margin-top: 20px;
     margin-left: 125px;
     margin-bottom: 20px;
 }

 .a-1 {
     border: 2px solid #FC5959 !important;
     background: #FC5959;
     border-radius: 20px;
     padding: 5px 10px 5px 16px;
     font-size: 30px;
     font-family: 'Roboto',
         sans-serif !important;
     margin-left: 120px;
     transition: all 1s ease-in;
 }

 .a-1:hover {
     background: #4FDBFC;
     color: white;
     border: 2px solid #4FDBFC !important;
 }

 /* Heading */
 .text-box {
     color: white;

 }

 .text-box .head-1 {
     font-size: 60px;
     font-family: 'Roboto',
         sans-serif;
     position: relative;
     top: 90px;
     margin: 0px 0px 30px 30px;
 }

 .text-box .p-1 {
     font-size: 23px;
     position: relative;
     top: 100px;
     margin: 0px 0px 0px 30px;
 }

 /* Middle section*/
 .text-top {
     font-size: 50px;
     color: #FC5959;
     font-family: 'Roboto',
         sans-serif;
     text-align: center;
     margin: 40px 0px 40px 0px;
 }

 .icon-1 {
     color: #FC5959;
     margin: 0px 0px 20px 120px;
 }

 .text-middle {
     margin: 0px 0px 40px 30px;
     font-family: 'Roboto',
         sans-serif;
     font-size: 30px;
     font-style: bold;
     color: black;
 }

 .p-1 {
     margin: 0px 0px 20px 25px;
     font-family: 'Roboto',
         sans-serif;
     font-size: 20px;
 }

 .icon-2 {
     color: #FC5959;
     margin: 0px 0px 20px 120px;
 }

 .text-middle-2 {
     margin: 0px 0px 20px 30px;
     font-family: 'Roboto',
         sans-serif;
     font-size: 30px;
 }

 .p-2 {
     margin: 0px 0px 40px 20px;
     font-family: 'Roboto',
         sans-serif;
     font-size: 20px;
 }

 .icon-3 {
     color: #FC5959;
     margin: 0px 0px 20px 200px;
 }

 .text-middle-3 {
     margin: 0px 0px 20px 30px;
     font-family: 'Roboto',
         sans-serif;
     font-size: 30px;
 }

 .p-3 {
     margin: 0px 0px 20px 10px;
     font-family: 'Roboto',
         sans-serif;
     font-size: 20px;
 }


 /* borders area */
 .border-1 {
     border: 2px solid white;
     width: 300px;
     height: 550px;
     background: white !important;
     text-align: center;
     padding: 30px;
     margin: 0px 70px 40px 0px !important;
 }

 .border-2 {
     border: 2px solid white;
     width: 300px;
     height: 550px;
     background: white !important;
     text-align: center;
     padding: 30px;
     margin: 0px 40px 20px 0px !important;
 }

 .border-3 {
     border: 2px solid white;
     width: 300px;
     height: 550px;
     background: white !important;
     text-align: center;
     padding: 30px;
     margin: 0px 40px 20px 0px !important;
 }

 .middle-top {
     margin: 0px 0px 30px 0px;
     text-align: center;
     color: #FC5959;
     font-family: 'Roboto',
         sans-serif;

 }

 .middle-icon {
     color: #FC5959;
     margin: 0px 20px 30px 0px;
 }

 .middle-text {
     font-family: 'Roboto',
         sans-serif;
     margin: 0px 0px 20px 0px;
 }

 .middle-p-1 {

     font-family: 'Roboto',
         sans-serif;
     font-weight: 300;
 }

 .middle-icon-2 {
     color: #FC5959;
     margin: 0px 20px 30px 0px;
 }

 .middle-text-2 {
     font-family: 'Roboto',
         sans-serif;
     margin: 0px 20px 20px 0px;
 }

 .middle-p-2 {
     font-family: 'Roboto',
         sans-serif;
     font-weight: 300;
 }

 .middle-icon-3 {
     color: #FC5959;
     margin: 0px 20px 30px 0px;
 }

 .middle-text-3 {
     font-family: 'Roboto',
         sans-serif;
     margin: 0px 0px 20px 0px;
 }

 .middle-p-3 {
     font-family: 'Roboto',
         sans-serif;
     font-weight: 300;
 }

 /* end text section */

 .end-icon {
     color: white;
     margin: 60px 0px 30px 440px !important;
 }

 .s-1 {
     margin-left: 20px;
 }

 .end-text1 {
     font-size: 31px !important;
     color: white;
     margin: 0px 0px 0px 120px;
     font-family: 'Roboto',
         sans-serif;
 }

 .hr-1 {
     background: white;
     width: 300px;
 }

 .end-text2 {
     font-size: 20px;
     color: white;
     margin: 40px 0px 0px 320px;
 }

 /* double section*/

 .text-head {
     margin: 30px 0px 30px 0px;
     font-family: 'Roboto',
         sans-serif;
     color: #FC5959;
     text-align: center;
 }

 .text-1v {
     margin: 0px 0px 10px 0px;
     color: #FC5959;
     text-align: center;
     font-family: 'Roboto',
         sans-serif;
 }

 .text-2v {
     text-align: center;
     font-family: 'Roboto',
         sans-serif;
 }

 .p-1v {
     text-align: center;
     font-family: 'Roboto',
         sans-serif;
     margin: 0px 0px 40px 0px;
 }

 .p-2v {
     text-align: center;
     font-family: 'Roboto',
         sans-serif;
     margin: 0px 0px 40px 0px;
 }

 /* Title */

 .title h1 {
     text-align: center;
     color: white;
     background: #4FDBFC;
     height: 400px;
     margin: 0px 0px 100px 0px;
 }

 .title-1 {
     position: relative;
     top: 40px;
     margin: 0px 0px 100px 0px;
 }

 .title span {
     font-family: 'Roboto',
         sans-serif;
     font-size: 35px;
     position: relative;
     top: 80px;
     left: 200px;
     margin: 20px 0px 100px 0px;
 }

 .title .s-1v {
     font-family: 'Roboto',
         sans-serif;
     font-size: 35px;
     position: relative;
     top: 50px;
     left: -320px;
     margin: 0px 0px 120px 0px;
 }


 .title .button-1 {
     font-family: 'Roboto',
         sans-serif;
     font-size: 29px;
     position: relative;
     top: 210px;
     margin: 10px 0px 0px 200px;
     left: -470px;
     right: 0px;
     border: 3px solid #FC5959;
     color: white;
     background: #FC5959;
     border-radius: 50px;
     padding: 10px 10px 10px 10px;
     text-decoration: none;
     transition: all 1s ease-in-out;
 }

 .title .button-1:hover {
     border: 3px solid white;
     background: white;
     color: #FC5959;
 }

 /* footer */

 footer h1 {
     text-align: center;
     font-family: 'Roboto',
         sans-serif;
     font-size: 40px;
 }
}

/******************************Ipad***************************/
@media (max-width: 768px) {
    
  .large-pic {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
          url(/img/school-1.jpg) bottom/cover no-repeat;
      height: 60vh;
      width: 100%;
  }

  .large-pic-2 {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/class-1.jpg) center/cover no-repeat;
      height: 50vh;
      width: 100%;
  }


  /* Nav */
  .nav-1 {
      background: #ffffff !important;
  }

  .brand-1 {
      font-size: 30px;
      font-family: 'Roboto',
          sans-serif !important;
          margin-top: 20px;
      margin-left: 125px;
      margin-bottom: 20px;
  }

  .a-1 {
      border: 2px solid #FC5959 !important;
      background: #FC5959;
      border-radius: 20px;
      padding: 5px 10px 5px 16px;
      font-size: 30px;
      font-family: 'Roboto',
          sans-serif !important;
      margin-left: 120px;
      transition: all 1s ease-in;
  }

  .a-1:hover {
      background: #4FDBFC;
      color: white;
      border: 2px solid #4FDBFC !important;
  }

  /* Heading */
  .text-box {
      color: white;

  }

  .text-box .head-1 {
      font-size: 60px;
      font-family: 'Roboto',
          sans-serif;
      position: relative;
      top: 90px;
      margin: 0px 0px 30px 30px;
  }

  .text-box .p-1 {
      font-size: 23px;
      position: relative;
      top: 100px;
      margin: 0px 0px 0px 30px;
  }

  /* Middle section*/
  .text-top {
      font-size: 50px;
      color: #FC5959;
      font-family: 'Roboto',
          sans-serif;
      text-align: center;
      margin: 40px 0px 40px 0px;
  }

  .icon-1 {
      color: #FC5959;
      margin: 0px 0px 20px 60px;
  }

  .text-middle {
      margin: 0px 0px 40px 30px;
      font-family: 'Roboto',
          sans-serif;
      font-size: 30px;
      font-style: bold;
      color: black;
  }

  .p-1 {
      margin: 0px 0px 20px 25px;
      font-family: 'Roboto',
          sans-serif;
      font-size: 20px;
  }

  .icon-2 {
      color: #FC5959;
      margin: 0px 0px 20px 60px;
  }

  .text-middle-2 {
      margin: 0px 0px 20px 30px;
      font-family: 'Roboto',
          sans-serif;
      font-size: 30px;
  }

  .p-2 {
      margin: 0px 0px 40px 20px;
      font-family: 'Roboto',
          sans-serif;
      font-size: 20px;
  }

  .icon-3 {
      color: #FC5959;
      margin: 0px 0px 20px 200px;
  }

  .text-middle-3 {
      margin: 0px 0px 20px 30px;
      font-family: 'Roboto',
          sans-serif;
      font-size: 30px;
  }

  .p-3 {
      margin: 0px 0px 20px 10px;
      font-family: 'Roboto',
          sans-serif;
      font-size: 20px;
  }


  /* borders area */
  .border-1 {
      border: 2px solid white;
      width: 200px;
      height: 650px;
      background: white !important;
      text-align: center;
      padding: 30px;
      margin: 0px 70px 40px 0px !important;
  }

  .border-2 {
      border: 2px solid white;
      width: 200px;
      height: 650px;
      background: white !important;
      text-align: center;
      padding: 30px;
      margin: 0px 40px 20px 0px !important;
  }

  .border-3 {
      border: 2px solid white;
      width: 200px;
      height: 650px;
      background: white !important;
      text-align: center;
      padding: 30px;
      margin: 0px 40px 20px 0px !important;
  }

  .middle-top {
      margin: 0px 0px 30px 0px;
      text-align: center;
      color: #FC5959;
      font-family: 'Roboto',
          sans-serif;

  }

  .middle-icon {
      color: #FC5959;
      margin: 0px 20px 30px 0px;
  }

  .middle-text {
      font-family: 'Roboto',
          sans-serif;
      margin: 0px 0px 20px 0px;
  }

  .middle-p-1 {
      
      font-family: 'Roboto',
          sans-serif;
      font-weight: 300;
  }

  .middle-icon-2 {
      color: #FC5959;
      margin: 0px 20px 30px 0px;
  }

  .middle-text-2 {
      font-family: 'Roboto',
          sans-serif;
      margin: 0px 20px 20px 0px;
  }

  .middle-p-2 {
      font-family: 'Roboto',
          sans-serif;
      font-weight: 300;
  }

  .middle-icon-3 {
      color: #FC5959;
      margin: 0px 20px 30px 0px;
  }

  .middle-text-3 {
      font-family: 'Roboto',
          sans-serif;
      margin: 0px 0px 20px 0px;
  }

  .middle-p-3 {
      font-family: 'Roboto',
          sans-serif;
      font-weight: 300;
  }

  /* end text section */

  .end-icon {
      color: white;
      margin: 60px 0px 30px 320px !important;
  }

  .s-1 {
      margin-left: 20px;
  }

  .end-text1 {
      font-size: 27px !important;
      color: white;
      margin: 0px 0px 0px 25px;
      font-family: 'Roboto',
          sans-serif;
  }

  .hr-1 {
      background: white;
      width: 300px;
  }

  .end-text2 {
      font-size: 20px;
      color: white;
      margin: 40px 0px 0px 210px;
  }

  /* double section*/

  .text-head {
      margin: 30px 0px 30px 0px;
      font-family: 'Roboto',
          sans-serif;
      color: #FC5959;
      text-align: center;
  }

  .text-1v {
      margin: 0px 0px 10px 0px;
      color: #FC5959;
      text-align: center;
      font-family: 'Roboto',
          sans-serif;
  }

  .text-2v {
      text-align: center;
      font-family: 'Roboto',
          sans-serif;
  }

  .p-1v {
      text-align: center;
      font-family: 'Roboto',
          sans-serif;
      margin: 0px 0px 40px 0px;
  }

  .p-2v {
      text-align: center;
      font-family: 'Roboto',
          sans-serif;
      margin: 0px 0px 40px 0px;
  }

  /* Title */

  .title h1 {
      text-align: center;
      color: white;
      background: #4FDBFC;
      height: 400px;
      margin: 0px 0px 100px 0px;
  }

  .title-1 {
      position: relative;
      top: 40px;
      margin: 0px 0px 100px 0px;
  }

  .title span {
      font-family: 'Roboto',
          sans-serif;
      font-size: 35px;
      position: relative;
      top: 80px;
      left: 50px;
      margin: 20px 0px 100px 0px;
  }

  .title .s-1v {
      font-family: 'Roboto',
          sans-serif;
      font-size: 35px;
      position: relative;
      top: 50px;
      left: -320px;
      margin: 0px 0px 120px 0px;
  }


  .title .button-1 {
      font-family: 'Roboto',
          sans-serif;
      font-size: 30px;
      position: relative;
      top: 140px;
      margin: 10px 0px 0px 200px;
      left: -110px;
      right: 0px;
      border: 3px solid #FC5959;
      color: white;
      background: #FC5959;
      border-radius: 50px;
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      transition: all 1s ease-in-out;
  }

  .title .button-1:hover {
      border: 3px solid white;
      background: white;
      color: #FC5959;
  }

  /* footer */

  footer h1 {
      text-align: center;
      font-family: 'Roboto',
          sans-serif;
      font-size: 40px;
  }
}

/* **********************************Mobile******************************************************* */
@media (max-width: 576px) {


    .whole{
        width: 100%;
        overflow-x: hidden;
    }

    .large-pic {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(/img/school-1.jpg) bottom/cover no-repeat;
        height: 60vh;
        width: 100%;
    }
    

    /* Nav */
    .nav-1 {
        background: #ffffff !important;
    }

    .brand-1 {
        font-size: 20px;
        font-family: 'Roboto',
            sans-serif !important;
        margin-left: 125px;
        margin-bottom: 20px;
    }

    .a-1 {
        border: 2px solid #FC5959 !important;
        background: #FC5959;
        border-radius: 20px;
        padding: 5px 10px 5px 16px;
        font-size: 15px;
        font-family: 'Roboto',
            sans-serif !important;
        margin-left: 120px;
        transition: all 1s ease-in;
    }

    .a-1:hover {
        background: #4FDBFC;
        color: white;
        border: 2px solid #4FDBFC !important;
    }

    /* Heading */
    .text-box {
        color: white;

    }

    .text-box .head-1 {
        font-size: 30px;
        font-family: 'Roboto',
            sans-serif;
        position: relative;
        top: 90px;
        margin: 0px 0px 30px 30px;
    }

    .text-box .p-1 {
        font-size: 11px;
        position: relative;
        top: 100px;
        margin: 0px 0px 0px 30px;
    }

    /* Middle section*/
    .text-top {
        font-size: 30px;
        color: #FC5959;
        font-family: 'Roboto',
            sans-serif;
        text-align: center;
        margin: 40px 0px 40px 0px;
    }

    .icon-1 {
        color: #FC5959;
        margin: 0px 0px 20px 140px;
    }

    .text-middle {
        margin: 0px 0px 40px 30px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 19px;
        font-style: bold;
        color: black;
    }

    .p-1 {
        margin: 0px 0px 20px 25px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
    }

    .icon-2 {
        color: #FC5959;
        margin: 0px 0px 20px 140px;
    }

    .text-middle-2 {
        margin: 0px 0px 20px 30px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 19px;
    }

    .p-2 {
        margin: 0px 0px 40px 20px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
    }

    .icon-3 {
        color: #FC5959;
        margin: 0px 0px 20px 140px;
    }

    .text-middle-3 {
        margin: 0px 0px 20px 30px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 19px;
    }

    .p-3 {
        margin: 0px 0px 20px 10px;
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
    }


    /* borders area */
    .border-1 {
        border: 2px solid white;
        width: 380px;
        height: 400px;
        background: white !important;
        text-align: center;
        padding: 30px;
        margin: 0px 40px 20px 0px !important;
    }

    .border-2 {
        border: 2px solid white;
        width: 380px;
        height: 400px;
        background: white !important;
        text-align: center;
        padding: 30px;
       margin: 0px 40px 20px 0px !important;
    }

    .border-3 {
        border: 2px solid white;
        width: 380px;
        height: 400px;
        background: white !important;
        text-align: center;
        padding: 30px;
        margin: 0px 40px 20px 0px !important;
    }

    .middle-top {
        margin: 0px 0px 30px 0px;
        text-align: center;
        color: #FC5959;
        font-family: 'Roboto',
            sans-serif;

    }

    .middle-icon {
        color: #FC5959;
        margin: 0px 20px 30px 0px;
    }

    .middle-text {
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 0px 20px 0px;
    }

    .middle-p-1 {
        font-family: 'Roboto',
            sans-serif;
        font-weight: 300;
    }

    .middle-icon-2 {
        color: #FC5959;
        margin: 0px 20px 30px 0px;
    }

    .middle-text-2 {
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 20px 20px 0px;
    }

    .middle-p-2 {
        font-family: 'Roboto',
            sans-serif;
        font-weight: 300;
    }

    .middle-icon-3 {
        color: #FC5959;
        margin: 0px 20px 30px 0px;
    }

    .middle-text-3 {
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 0px 20px 0px;
    }

    .middle-p-3 {
        font-family: 'Roboto',
            sans-serif;
        font-weight: 300;
    }

    /* end text section */

    .end-icon {
        color: white;
        margin: 60px 0px 30px 140px !important;
    }

    .s-1 {
        margin-left: 20px;
    }

    .end-text1 {
        font-size: 13px !important;
        color: white;
        margin: 0px 0px 0px 25px;
        font-family: 'Roboto',
        sans-serif;
    }

    .hr-1 {
        background: white;
        width: 300px;
    }

    .end-text2 {
        font-size: 15px;
        color: white;
        margin: 40px 0px 0px 50px;
    }

    /* double section*/

    .text-head {
        margin: 30px 0px 30px 0px;
        font-family: 'Roboto',
            sans-serif;
        color: #FC5959;
        text-align: center;
    }

    .text-1v {
        margin: 0px 0px 10px 0px;
        color: #FC5959;
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
    }

    .text-2v {
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
    }

    .p-1v {
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 0px 40px 0px;
    }

    .p-2v {
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
        margin: 0px 0px 40px 0px;
    }

    /* Title */

    .title h1 {
        text-align: center;
        color: white;
        background: #4FDBFC;
        height: 400px;
        margin: 0px 0px 100px 0px;
    }

    .title-1 {
        position: relative;
        top: 40px;
        margin: 0px 0px 100px 0px;
    }

    .title span {
        font-family: 'Roboto',
            sans-serif;
        font-size: 15px;
        position: relative;
        top: 80px;
        left: 25px;
        margin: 0px 0px 100px 0px;
    }

    .title .s-1v{
            font-family: 'Roboto',
                sans-serif;
            font-size: 15px;
            position: relative;
            top: 50px;
            left: -140px;
            margin: 0px 0px 100px 0px;
        }
    

    .title .button-1 {
        font-family: 'Roboto',
            sans-serif;
        font-size: 11px;
        position: relative;
        top: 140px;
        margin: 0px 0px 0px 200px;
        left: -108px;
        right: 0px;
        border: 3px solid #FC5959;
        color: white;
        background: #FC5959;
        border-radius: 50px;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        transition: all 1s ease-in-out;
    }

    .title .button-1:hover {
        border: 3px solid white;
        background: white;
        color: #FC5959;
    }

    /* footer */

    footer h1 {
        text-align: center;
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
    } 
}